* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
}

body {
    font-family: "Bakbak One", sans-serif;
}

.header {
    background: #0D0D15;
}

.nav__list {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
}

.nav__link {
    text-decoration: none;
    /* Links do not nasledovat*/
    color: #FFFFFF;
    /* Links do not nasledovat*/
    text-align: center;
}

.nav__link--active {
    border-bottom-style: solid;
    border-color: #0265DC;
    border-width: 2px;
}


.button {
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    border: 2px solid #D0D7FB2B;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    text-decoration: none;
    line-height: 28px;
}

.button--glow {
    background-color: #0265DC;
}











.banner {
    background-image: radial-gradient(circle, #0265DC, #0D0D15);
    background-position: top left;
}

.banner__title {
    font-size: 1.75rem;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 36px;
}

.banner__title--highlight {
    color: #0265DC;
}

.banner__subtitle {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: "Poppins", sans-serif;
    line-height: 28px;
}

.banner__stat {
    color: #FFFFFF;
}


.banner__stat-txt {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.banner__stat-num {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.5px;
}









.catalog {
    background-color: #0D0D15;
}

.catalog__title {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
}




.catalog-card {
    background-color: #1D1C28;
}

.catalog-card__txt {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 36px;
    color: #FFFFFF;
}

.catalog-card__title {
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    color: #FFFFFF;
    font-weight: 500;
    line-height: 28px;
}

.catalog-card__tag {
    text-align: right;
    background-color: #ffffff;
    color: #0265DC;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
}

.catalog-card__tag--highlight {
    background-color: #EA3829;
    color: #FFFFFF;
}








.blog {
    background-color: #0D0D15;
}



.blog-card {
    background-color: #1D1C28;
    color: #FFFFFF;
}

.blog-card__title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
}

.blog-card__subtext {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.blog-card__name,
.blog-card__date {
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    line-height: 20px;
    font-weight: 600;
}

.blog-card__tag {
    text-align: right;
    background-color: #ffffff;
    color: #0265DC;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    line-height: 20px;
    text-decoration: none;
}

.blog-card__link {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
}

.blog__link,
.info__link {
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: 600;
}






.info {
    background-color: #0D0D15;
}

.blog__title,
.info__title,
.team__title,
.faqs__title {
    font-size: 1.75rem;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.info__desc {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
}

.info__list {
    background-color: #1D1C28;
    list-style-type: decimal-leading-zero;
    color: #FFFFFF;
}

.info__item-title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
}

.info__item-desc {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
}









.team {
    background-color: #0D0D15;
}

.team-card {
    background-color: #1D1C28;
    color: #FFFFFF;
}

.team-card__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
    text-align: center;
}



.team-card__subtext {
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.team-card__list {
    list-style: none;
}









.faqs {
    background-color: #0D0D15;
    color: #FFFFFF;
}



.faqs__details {
    background-color: #1D1C28;
}

.faqs__details-question {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;

}

.faqs__details-answer {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 24px;
}





.footer {
    background-color: #1A1925;
}



.logo__txt {
    font-size: 2rem;
    font-weight: normal;
    color: #0265DC;
    text-align: left;
}



.footer-nav__txt,
.footer__txt {
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
}

.footer-nav__list-title {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
}

.footer-nav__list {
    list-style: none;
}


.footer-nav__link {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}



.logo__txt--header {
    font-size: 2rem;
    font-weight: normal;
    color: #FFFFFF;
}



/*Blog Page */



.blogpage {
    background-color: #1A1925;
}

.blogpage__title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 36px;
    text-align: center;
    color: #F8F7FF;
}



.blogpage__link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    color: #F8F7FF;
    text-decoration: none;
}

.blogpage__link--target {
    color: #E7EEF7A8;
    text-decoration: none;
}



.story {
    background-color: #0D0D15;
}

.story-fig__cap {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #F8F7FF;
}

.story__title {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #F8F7FF;
}

.story__name, .story__date {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    color: #EFF5FAD1;
}

.story__desc {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: #F8F7FF;
}

.story__desc--mark {
    font-weight: 600;
    background-color: #0265DC;
}

.story__desc--accent {
    color: #78BBFA;
}


.story__set {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: #F8F7FF;
}

.quote {
    background-color: #002754;
    color: #F8F7FF;
}

.quote-box {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 36px;
}

.quote__rating {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    color: #EFF5FAD1;
}

.quote__title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
}


.story__subtitle {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 36px;
    color: #F8F7FF;
}

.story__tag-title {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #F8F7FF
}


.story__taglist-item {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    color: #F8F7FF;
}

.story-sidebar {
    background-color: #1D1C28;
    color: #F8F7FF;
}

.story-sidebar__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
}

.story-sidebar__list {
    list-style: none;
}

.story-sidebar__link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-decoration: none;
    color: #F5F8FB
}

.story-sidebar__taglist {
    list-style: none;
}

.story-sidebar__taglist-item {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
}