// banner block
@use '../global/variables.scss' as *;
.banner {
    background-image:url("../img/cube.png"), radial-gradient(circle, $blue-color, $block-color); //hide on mobile
    background-repeat: no-repeat, no-repeat;
    background-position: right, top left;
    padding: 64px 164px;
    display: flex;
    position: relative;

    &__details {
      display: flex;
      flex-direction: column;
      width: 866.5px;
      margin-top: 75px;
      margin-bottom: 75px;
    }

    &__pic {
      width: 533.5px;
      height: 641.8px;
      position: absolute;
      height: 100%;
      top: 0px;
      right: 164px;
    }

    &__title {
      font-size: 3.25rem;
      color: $text-color;
      font-weight: 400;
      line-height: 62px;
      margin-bottom: 0.5rem;
    }
  
    &__title--highlight {
      color: $blue-color;
    }
  
    &__subtitle {
      color: $text-color;
      font-weight: 500;
      font-size: 1.25rem;
      font-family: $text-font;
      line-height: 28px;
      margin-bottom: 2rem;
    }
  
    &__stat {
      color: $text-color;
      margin-bottom: 2rem;
      display: flex;
      gap: 64px;
    }
  
    &__stats {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 2rem;
    }
  
    &__stat-txt {
      font-size: 1rem;
      font-family: $text-font;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 0.25rem;
    }
  
    &__stat-num {
      font-size: 52px;
      font-weight: 400;
      line-height: 62px;
      letter-spacing: -0.5px;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
  
  