// Blog card block
@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.blog-card {
    background-color: $card-color;
    color: $text-color;
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    // width: 784px;
    
    &:not(:first-child) {
        height: 434px;
    }

    &:not(:last-child) {
        height: 434px;
    }
    
    


    &__img {
        width: 100%;
        height: 198px;
    }

    &__title {
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 48px;
        margin-top: 1rem;
    }

    &__subtext {
        font-family: $text-font;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 1rem;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__details {
        font-family: $text-font;
        font-size: 0.875rem;
        line-height: 20px;
        font-weight: 600;
        color: #EFF5FAD1;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: 1.5rem;
    }

    &__name::after {
        content: "";
        flex-grow: 1;
        height: 16px;
        width: 2px;
        background-color: #D0D7FB2B;
        margin-top: 2px;
    }

    &__tag {
        @include tag-new;
        position: absolute;
        right: 2.5rem;
        top: 2.5rem;
    }

    &__link {
        font-family: $text-font;
        font-size: 1rem;
        font-weight: 600;
        line-height: 24px;
        margin-right: 6.25rem;
        width: 161px;
        padding: 0.5rem 1.25rem;
    }


    &__link::after {
        background-image: none; //for svg
    }
}