// Block page block
@use '../global/variables.scss' as *;

.blogpage {
    background-color: $block-color;
    padding: 4rem 0 0 0;
    height: 23.4525rem;


    &__title {
        font-weight: 400;
        font-size: 3.25rem;
        line-height: 62px;
        text-align: center;
        color: #F8F7FF;
        margin-bottom: 1.25rem;
    }

    &__nav {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }

    &__link {
        font-family: $text-font;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 20px;
        text-align: center;
        color: #F8F7FF;
        text-decoration: none;
        padding: 0.375rem 0.75rem;
    }

    &__link:first-child::after{
        content: "";
        flex-grow: 1;
        width: 2px;
        height: 24px;
        background-color: #D0D7FB2B;
        margin-top: 0.25rem;

    }

    &__link--target {
        color: #E7EEF7A8;
        text-decoration: none;
    }
}