// Blog card block
@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.blog-card {
    background-color: $card-color;
    color: $text-color;
    padding: 1.5rem;
    width: 784px;
    height: 434px;
    position: relative;


    &__img {
        margin-bottom: 1.5rem;
        width: 736px;
        height: 198px;
    }

    &__title {
        font-size: 2.25rem;
        font-weight: 400;
        line-height: 48px;
        margin-top: 1rem;
    }

    &__subtext {
        font-family: $text-font;
        font-size: 1rem;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 1rem;
    }

    &__name,
    &__date {
        font-family: $text-font;
        font-size: 0.875rem;
        line-height: 20px;
        font-weight: 600;
        color: #EFF5FAD1;
    }

    &__tag {
        @include tag-new;
        position: absolute;
        right: 2.5rem;
        top: 2.5rem;
    }

    &__link {
        font-family: $text-font;
        font-size: 1rem;
        font-weight: 600;
        line-height: 24px;
        margin-right: 6.25rem;
        padding: 0.5rem 1.25rem;
    }


    &__link::after {
        background-image: none; //for svg
    }
}