// catalog block
@use '../global/variables.scss' as *;
.catalog {
    background-color: $block-color;
    padding: 2rem 1rem 2rem 1rem;
  
    &__nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2.5rem;
    }
    &__box {
      padding: 0.125rem 0;
      display: flex;
    }
  
  
    &__title {
      color: $text-color;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 2rem;
      display: inline-flex;
      align-items: center;
      gap: 2rem;
      margin-bottom: 2rem;
    }

    &__title::after{
      content: "";
      flex-grow: 1;
      height: 2px;
      width: 11.3125rem;
      background-color: #D0D7FB2B;
    }

    &__link {
      font-family: $text-font;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 28px;
      height: 48px;
      width: 182px;
    }

    &__buttons { 
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &__chevrons {
      margin-left: auto;
      display: flex;
      gap: 1rem;
    }

    &__chevrons::before {
      content: "";
      flex-grow: 1;
      height: 24px;
      width: 2px;
      background-color: #D0D7FB2B;
      margin-top: 0.75rem;
    }


    &__list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1.5rem;
      justify-content: center;
      list-style: none;
    }

    &__list-item {
      width: 328px;
      height: 444px;
    }
  }