@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.catalog-page {
    background-color: $block-color;
    color: $text-color;
    // padding: 4rem;

    &__layout {
        display: flex;
        gap: 4rem;
        background-color: $block-color;
        color: $text-color;
        padding: 4rem;
        justify-content: center;
    }

    &__details {
        display: flex;
        gap: 1rem;
        height: 48px;
        width: 1024px;
        margin-bottom: 2rem;
    }

    &__title {
        width: 26.46875rem;
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 2rem;
    }


    &__search {
        @include search-box;
        width: 423.5px;
        height: 48px;
    }

    &__search-icon {
        margin-right: 0.5rem;
    }

    &__search-input {
        @include search-input;
        width: 367.5px;
    }

    &__tags {
        // width: 328px;
        height: 64px;
        padding: 1rem;
        background-color: $card-color;
        margin-top: 2rem;
        margin-bottom: 2rem;
        display: flex;
        gap: 1rem;

    }

    &__tag-group {
        display: flex;
        gap: 1rem;
    }

    &__tag {
        height: 2rem;
        border: 2px solid #D0D7FB2B;
        padding: 0.375rem 0.75rem;
        font-family: $text-font;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    &__tag::after {
        content: '';
        background-image: url('icon.svg');
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        margin: auto;
    }

    &__catalog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 2rem;
        width: 1024px;
        height: 1633px;
    }
}