@use '../global/variables.scss' as *;

.contact-details {
    padding: 0rem 1rem;
    background-color: $block-color;
    color: $text-color;
    &__card {
        width: 328px;
        height: 176px;
        border: 1px solid #D4D9F242;
        padding: 1.5rem;
        background-color: $block-color;
        margin-bottom: 1rem;
    }

    &__icon {
        width: 56px;
        height: 56px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }

    &__title {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    &__info {
        font-family: $text-font;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
}