// Footer block
.footer {
    background-color: #1A1925;
    padding: 4rem 1rem 2rem 1rem;

    &__txt {
        font-family: $text-font;
        color: $text-color;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
        margin-top: 2rem;
        margin-right: 5.375rem;
        margin-bottom: 1.25rem;
    }

    &__iconlist-item {
        margin-right: 3rem;
    }
}