// Footer block
@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.footer {
    background-color: #1A1925;
    padding: 4rem 4rem 2rem 4rem;

    &__txt {
        font-family: $text-font;
        color: $text-color;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 20px;
    }


    &__iconlist {
        display: flex;
        gap: 0.5rem;
    }

    &__iconlist-item {
        width: 40px;
        height: 40px;
    }

    &__end {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem; 
        margin-top: 2rem;
        border-top: 1px solid #BFC5EE1F;

        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;     
        }

        @include desk {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        @include desk-l {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
    }
}