// Footer logo block
.logo {
    &__txt {
        font-size: 2rem;
        font-weight: normal;
        color: $blue-color;
        text-align: left;
        margin-bottom: 0.75rem;
        margin-right: 8.25rem;
    }

    &__txt--header {
        font-size: 2rem;
        font-weight: normal;
        color: $text-color;
    }
}