@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.header {
    background: $block-color;
    padding: 2rem;
    width: 108rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
    &__logos {
        display: flex;
        gap: 1.12rem;
        width: 11.75rem;
    }

    &__logo {
        width: 2.25rem;
        height: 2.5rem;
        
    }

    &__nav {
        display: flex;
        gap: 16.5rem;
    }

    &__list {
        list-style: none;
        font-family: $text-font;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        display: flex;
        width: 25.0625rem; 
        height: 3rem;
    }

    &__link {
        text-decoration: none;
        /* Links do not nasledovat*/
        color: $text-color;
        /* Links do not nasledovat*/
        text-align: center;
        padding: 0.5rem 1.25rem;
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    &__link--active {
        border-bottom-style: solid;
        border-color: $blue-color;
        border-width: 2px;
    }

    &__txt {
        font-size: 2rem;
        font-weight: normal;
        color: $text-color;
    }

    &__search-area {
        position: relative;
        width: 11.75rem;
        height: 3rem;
    }

    &__search {
        @include search-box;
        height: 3rem;
        width: 11.75rem;
        margin-left: auto;
    }

    &__search-icon {
        margin-right: 0.5rem;
    }

    &__search-input {
        @include search-input;
        width: 8.25rem;
    }

    &__buttons {
        display: flex;
        gap: 1rem;
        position: relative;
        height: 3rem;
    }

    &__buttons a{
        width: 150px;
    }

    &__buttons button {
        width: 159px;
    }

    &__buttons::before {
        content:"";
        flex-grow: 1;
        width: 2px;
        height: 24px;
        margin-top: 0.75rem;
        background-color: #D0D7FB2B;
    }

    &__buttons img {
        width: 24px;
        margin-right: 0.5rem;
    }

}