@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.header {
    background: $block-color;
    padding: 1rem;
    display: flex;

    &__logo {
        width: 188px;
        height: 42px;
    }

    &__list {
        list-style: none;
        font-family: $text-font;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5rem;
        display: flex;
        flex-direction: column; // with @media change to row
        position: relative;
        // top: 128px;
        margin-top: 132px;
        right: 48px;
    }

    &__link {
        text-decoration: none;
        /* Links do not nasledovat*/
        color: $text-color;
        /* Links do not nasledovat*/
        text-align: center;
        padding: 0.5rem 1.25rem;
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    &__link--active {
        border-bottom-style: solid;
        border-color: $blue-color;
        border-width: 2px;
    }

    &__txt {
        font-size: 2rem;
        font-weight: normal;
        color: $text-color;
        display: none; // change with screen
    }

    &__search-area {
        position: relative;
        // top: 64px;
        right: 154px;
        width: 328px;
        height: 48px;
        margin-top: 5rem;
        margin-right: 0px;
    }

    &__search {
        @include search-box;
        // width: 11.75rem;
        height: 3rem;
        width: 328px;
    }

    &__search-icon {
        margin-right: 0.5rem;
    }

    &__search-input {
        @include search-input;
        width: 8.25rem;
    }

    &__buttons {
        display: flex;
        gap: 1rem;
        position: relative;
        right: 267px;
        margin-right: 0px;
    }

}