// info block
@use '../global/variables.scss' as *;
.info {
    background-color: $block-color;
    padding: 4rem;
    position: relative;

    &__title {
        margin-bottom: 1rem;
        font-size: 2.25rem;
        color: $text-color;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
    }

    &__link {
        font-family: $text-font;
        font-size: 1.125rem;
        line-height: 28px;
        font-weight: 600;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 4rem;
    }

    &__desc {
        color: #EFF5FAD1;
        font-family: $text-font;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    &__list {
        list-style: none;
        color: $text-color;
        margin-bottom: 2.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        margin-bottom: 88px;
    }

    &__list-item {
        width: 376px;
        height: 234.32px;
        padding: 1.5rem;
        margin-bottom: 1rem;
        background-color: $card-color;
    }

    &__item-title {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 32px;
        margin-top: 1.895rem;
        margin-bottom: 1.5rem;
    }

    &__item-desc {
        color: #EFF5FAD1;
        font-family: $text-font;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 28px;
    }
}