// info block
@use '../global/variables.scss' as *;
.info {
    background-color: $block-color;
    padding: 2rem 1rem;


    &__title {
        margin-bottom: 1rem;
        font-size: 1.75rem;
        color: $text-color;
        font-weight: 400;
        line-height: 36px;
        text-align: center;
    }

    &__link {
        font-family: $text-font;
        font-size: 1.125rem;
        line-height: 28px;
        font-weight: 600;
    }

    &__desc {
        color: $text-color;
        font-family: $text-font;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    &__list {
        list-style: none;
        color: $text-color;
        margin-bottom: 2.5rem;
    }

    &__list-item {
        display: block;
        padding: 1.5rem;
        margin-bottom: 1rem;
        background-color: $card-color;
    }

    &__item-title {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 32px;
        margin-top: 1.895rem;
        margin-bottom: 1.5rem;
    }

    &__item-desc {
        color: $text-color;
        font-family: $text-font;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 28px;
    }
}