// info block
@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.info {
    background-color: $block-color;
    padding: 2rem 1rem 2rem 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;

    @include tablet {
        padding: 0 1.5rem 4rem 1.5rem;
    }

    @include desk {
        padding: 4rem;
    }

    @include desk-l {
        padding: 4rem;
    }

    &__title {
        margin-bottom: 1rem;
        font-size: 1.75rem;
        color: $text-color;
        font-weight: 400;
        line-height: 36px;
        text-align: center;

        @include desk {
            font-size: 2.25rem;
            line-height: 48px;  
        }


    }

    &__link {
        font-family: $text-font;
        font-size: 1.125rem;
        line-height: 28px;
        font-weight: 600;
        margin-bottom: 2rem;

        @include tablet {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 4rem;
        }

        @include desk-l {   
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 4rem;
        }

        
    }

    &__desc {
        color: #EFF5FAD1;
        font-family: $text-font;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        width: 100%;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        color: $text-color;
        justify-content: center;
        align-items: center;

        @include tablet {
            gap: 2rem;
            margin-bottom: 152px;
        }

        @include desk {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
        }

        @include desk-l {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
        }

    }

    &__list-item {
        width: 328px;
        padding: 1.5rem;
        background-color: $card-color;

        @include tablet {
            width: 100%;
            padding: 2rem;
        }

        @include desk-l {
            width: 376px;
            height: 234.32px;
        }
    }

    &__list-item:last-child{
        @include desk {
            grid-column: 1/ span 3;
        }

        @include desk-l {
            grid-column: auto;
        }
    }

    &__item-title {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 32px;
        margin-top: 1.895rem;
        margin-bottom: 1.5rem;
    }

    &__item-desc {
        color: #EFF5FAD1;
        font-family: $text-font;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 28px;
    }
}