// Story block
@use '../global/variables.scss' as *;
.story {
    background-color: $block-color;
    padding: 4rem 4rem 4rem 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: center;

    &__main {
        width: 64rem;
    }
    &__title {
        font-weight: 400;
        font-size: 2.25rem;
        line-height: 48px;
        letter-spacing: -0.5px;
        color: #F8F7FF;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &__details {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &__name,
    &__date {
        font-family: $text-font;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 20px;
        color: #EFF5FAD1;
    }

    &__desc {
        font-family: $text-font;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 28px;
        color: #F8F7FF;
        margin-bottom: 2rem;
    }

    &__desc--mark {
        font-weight: 600;
        background-color: $blue-color;
    }

    &__desc--accent {
        color: #78BBFA;
    }


    &__set {
        font-family: $text-font;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 28px;
        color: #F8F7FF;
        margin-bottom: 2rem;
        list-style: none;
    }

    &__image-list {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1.75rem;
        line-height: 36px;
        color: #F8F7FF;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    &__tags {
        display: flex;
        flex-direction: row;
        gap: 36.875rem;
    }

    &__tag-block {
        display: flex;
        gap: 0.75rem;
    }

    &__tag-title {
        font-family: $text-font;
        font-weight: 400;
        font-size: 1rem;
        line-height: 24px;
        color: #F8F7FF;
        margin-top: 4px;
    }

    &__taglist {
        display: flex;
        flex-direction: row;
        gap: 0.75rem;
        list-style: none;
    }

    &__taglist-item {
        font-family: $text-font;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 20px;
        text-align: center;
        color: #F8F7FF;
        padding: 0.375rem 0.75rem;
    }

    &__icon {
        width: 16px;
        height: 16px;
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        gap: 1.3125rem;
    }
}