// Story fig block
@use '../global/variables.scss' as *;

.story-fig {
    position: relative;


    &__cap {
        font-family: $text-font;
        font-weight: 500;
        font-size: 1rem;
        line-height: 24px;
        color: #F8F7FF;
        position: absolute;
        left: 24px;
        bottom: 12px;
    }
}