// Story sidebar block
@use '../global/variables.scss' as *;
.story-sidebar {
    background-color: $card-color;
    color: #F8F7FF;
    padding: 1.5rem;
    width: 328px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    &__title {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 32px;
        padding-bottom: 1rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #BFC5EE1F;
    }

    &__list {
        list-style: none;
    }
    &__list-item {
        padding: 0.375rem 0.75rem;   
    }
    &__link {
        font-family: $text-font;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 20px;
        text-decoration: none;
        color: #F5F8FB;
    }



    &__taglist {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5rem     ;
    }



    &__taglist-item {
        font-family: $text-font;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 20px;
        text-align: center;
        padding: 0.375rem 0.75rem;
        ;
    }
}