// Team block
@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.team {
  background-color: $block-color;
  padding: 2rem 1rem 2rem 1rem;

  @include tablet {
    padding: 0 1.5rem 4rem 1.5rem;
  }

  @include desk {
    padding: 4rem;
  }

  @include desk-l {
    padding: 4rem;
  }

  &__title {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
    color: $text-color;
    font-weight: 400;
    line-height: 36px;
    text-align: center;

    @include desk {
      font-size: 2.25rem;
      line-height: 48px;
    }
  }

  &__scroller {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    scrollbar-width: none;
    touch-action: pan-y pinch-zoom;

    @include tablet {
      scroll-snap-type: none;
      touch-action: auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
    margin-bottom: 2rem;
    list-style: none;

    padding-left: 1rem;
    padding-right: 1rem;

    @include tablet {
      
      gap: 2.5rem;
      margin-bottom: 4rem;
    }

    @include desk {
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: auto;
      @include unselectable;
    }

    @include desk-l {
      margin-bottom: 4rem;
      justify-content: center;
    }
  }

  &__list-item {
    scroll-snap-align: start;
  }
}