// Team card block
@use '../global/variables.scss' as *;
.team-card {
    background-color: $card-color;
    color: $text-color;
    padding: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 293px;
    height: 284px;

    &__img {
        display: block;
        margin: 1rem auto;
    }

    &__title {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 32px;
        text-align: center;
    }

    &__subtext {
        font-family: $text-font;
        color: #EFF5FAD1;
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        margin-bottom: 1rem;
        display: block;
    }

    &__list {
        list-style: none;
        margin-right: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}