// VARIABLES

    $text-font: "Poppins", sans-serif; // general font for paragraphs and content text
    $main-font: "Bakbak One", sans-serif; // font for most headings 
 
    $blue-color: #0265DC; // glow color
    $outlineblue-color: #3892F3; 
    $text-color: #FFFFFF; 
    $block-color: #0D0D15;
    $card-color: #1D1C28;
    $invalid-color: #EA3829
