// VARIABLES

    $text-font: "Poppins", sans-serif;
    $main-font: "Bakbak One", sans-serif;
 
    $blue-color: #0265DC;
    $text-color: #FFFFFF;
    $block-color: #0D0D15;
    $card-color: #1D1C28;
    