{# use the catalogcard.njk for card templates #}
{# Markup Catalog page #}

<section class="catalog-page">
    <h2 class="catalog-page__title">{{ catalogpage.title }}</h2>
    <label class="button" for="sort">{{ catalogpage.button }}</label>
    <select id="sort" name="sort">
        {% for item in catalogpage.sort %}
            <option>{{ item }}</option>
        {% endfor %}
    </select>
    <form action="" class="header__search-area">
        <div class="header__search">
            <img src="icon.svg" alt="icon" class="header__search-icon"/>
            <input id="search "type="text" placeholder="Search NFT" class="header__search-input">
        </div>
    </form>
    <article class="catalog-page__tags">
        {% for item in catalogpage.tags %}

            <span class="catalog-page__tag">
                {{ item }}
            </span>
        {% endfor %}
        <button class="button button--reset" type="reset" value="Reset">{{ catalogpage.reset }}</button>
    </article>

    
    <div class="catalog-page__catalog">
        {% for item in catalog %}
        <a href="{{ item.link }}" class="catalog__link">
            <article class="catalog-card">
                <picture>
                    <source srcset="{{ item.image }}, {{ item.image1 }} 2x"/>
                    <img src="{{ item.image }}" alt="image" class="catalog-card__img" width="296px" height="324px"/>
                </picture>
                <span class="catalog-card__txt">{{ item.price }}$</span>
                <h3 class="catalog-card__title">{{ item.name }}</h3>
                <span class="catalog-card__tag {% if item.label == "Sold out" %} catalog-card__tag--highlight {% endif %}">{{ item.label }}</span>
            </article>
        </a>
        {% endfor %}
    </div>
</section>