<section>
    <form class="contact-form" action="url" method="post">
        <h1 class="contact-form__title">Get in touch</h1>
        <p class="contact-form__subtitle">Browse through the most freuently asked questions</p>
        <div class="contact-form__agree-switch">
            <label for="aswch">Use my profile information</label>
            <input id="aswch" type="checkbox"/>
        </div>
        <div class="contact-form__item">
            <label for="name">Name</label><input class="contact-form__input" id="name" type="text"/>
        </div>
        <div class="contact-form__item">
            <label for="lastname">Last name</label><input class="contact-form__input" id="lastname" type="text"/>
        </div>
        <div class="contact-form__item">    
            <label for="birth">Birthday</label>
            <input type="date" class="contact-form__input" id="birth" required/>
        </div>
        <div class="contact-form__item">
            <span class="contact-form__heading">Gender</span>
            <input type="radio" id="male" name="gender" checked/>
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender"/>
            <label for="female">Female</label>
        </div>
        <div class="contact-form__item">
            <label for="email">Email</label>
            <input type="email" class="contact-form__input" id="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" required/>
        </div>
        <div class="contact-form__item">
            <label for="telephone">Telephone Number</label
    ><input type="tel" class="contact-form__input" id="telephone" pattern="^[+]{1}(?:[0-9\-\(\)\/\.]\s?){6,15}[0-9]{1}$" required/>
        </div>
        <div class="contact-form__item">
            <label for="message">Message</label>
            <textarea class="contact-form__input" name="welcome" id="message" required></textarea>
        </div>
        <div class="contact-form__item">
            <label for="policy"
      >By clicking on the 'Send Message' button I agree to
      <a href="url" target="_blank">all the terms of security policy</a>
            </label
    ><input type="checkbox" id="policy" required class="contact-form__policy"/>
        </div>
        <button class="button button--glow" type="submit">Send Message</button>
    </form>
</section>