<footer class="footer">
    <nav class="footer-nav">
        <div class="footer-nav__logos">
            <a href="#" class="logo">
                <img src="logo.svg" alt="logo" class="logo__img"/>
                <strong class="logo__txt">BINABOX</strong>
            </a>
            <p class="footer-nav__txt">We are the best way to check rarity of NFT collection</p>
        </div>

        <div class="footer-nav__lists">
            <div class="footer-nav__listing">
                <h4 class="footer-nav__list-title">Subscribe</h4>
                <ul class="footer-nav__list">
                    <li class="footer-nav__list-item">
                        <a href="#" class="footer-nav__link">Home</a>
                    </li>
                    <li class="footer-nav__list-item">
                        <a href="#" class="footer-nav__link">Blog</a>
                    </li>
                    <li class="footer-nav__list-item">
                        <a href="#" class="footer-nav__link">Catalog</a>
                    </li>
                    <li class="footer-nav__list-item">
                        <a href="#" class="footer-nav__link">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="footer-nav__listing">
                <h4 class="footer-nav__list-title">Company</h4>
                <ul class="footer-nav__list">
                    <li class="footer-nav__list-item">
                        <a href="#" class="footer-nav__link">Terms Conditions</a>
                    </li>
                    <li class="footer-nav__list-item">
                        <a href="#" class="footer-nav__link">Privacy Policy</a>
                    </li>
                    <li class="footer-nav__list-item">
                        <a href="#" class="footer-nav__link">Whitepaper</a>
                    </li>
                    <li class="footer-nav__list-item">
                        <a href="#" class="footer-nav__link">Help Center</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="footer__end">
        <p class="footer__txt">BINABOX 2022 - All rights reserved</p>
        <ul class="footer__iconlist">
            <li class="footer__iconlist-item">
                <a href="#" target="_blank" class="footer__link"><img src="icon.svg" alt="icon" class="footer__icon"/></a>
            </li>
            <li class="footer__iconlist-item">
                <a href="#" target="_blank" class="footer__link"><img src="icon.svg" alt="icon" class="footer__icon"/></a>
            </li>
            <li class="footer__iconlist-item">
                <a href="#" target="_blank" class="footer__link"><img src="icon.svg" alt="icon" class="footer__icon"/></a>
            </li>
            <li class="footer__iconlist-item">
                <a href="#" target="_blank" class="footer__link"><img src="icon.svg" alt="icon" class="footer__icon"/></a>
            </li>
            <li class="footer__iconlist-item">
                <a href="#" target="_blank" class="footer__link"><img src="icon.svg" alt="icon" class="footer__icon"/></a>
            </li>
            <li class="footer__iconlist-item">
                <a href="#" target="_blank" class="footer__link"><img src="icon.svg" alt="icon" class="footer__icon"/></a>
            </li>
            <li class="footer__iconlist-item">
                <a href="#" target="_blank" class="footer__link"><img src="icon.svg" alt="icon" class="footer__icon"/></a>
            </li>
        </ul>
    </div>
</footer>