<header class="header">
    <a href="#" class="button button--nav"><img src="icon.svg" alt="burger menu"></a>
    <nav class="header__nav">
        <a href="#" class="header__logo"
          ><img src="logo.svg" alt="logo" class="header__logo"/>
            <strong class="header__txt">{{ header.title }}</strong>
        </a
        >

        <ul class="header__list">
            {% for item in header.nav %}
                <li class="header__item">
                    <a href="{{ item.link }}" class="header__link {% if item.link == url %} header__link--active {% endif %}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>

    </nav>
    <form action="" class="header__search-area">
        <div class="header__search">
            <img src="icon.svg" alt="icon" class="header__search-icon"/>
            <input id="search "type="text" placeholder="Search" class="header__search-input">
        </div>
    </form>
    <a href="#" target="_blank" class="button button--nav"><img src="icon.svg" alt="Discord icon"></a>
    <button type="button" class="button button--glow button--nav"><img src="icon.svg" alt="Wallet icon"></button>
</header>