<section class="quote">
  <blockquote class="quote__box">
    {{ quote.quote }}
  </blockquote>
  <div class="quote__details">
    <img src="icon.png" alt="icon" class="quote__icon"/>
    <span class="quote__rating">{{ quote.rating }}</span>
    <h4 class="quote__title">{{ quote.title }}</h4>
  </div>
</section>