<section class="quote">
    <blockquote class="quote-box">
            {{ quote.quote }}
          </blockquote>
    <img src="icon.png" alt="icon" class="quote__icon"/>
    <span class="quote__rating">{{ quote.rating }}</span>
    <h4 class="quote__title">{{ quote.title }}</h4>
</section>