{% extends "layouts/base.njk" %}

{% set title = "Catalog"%}
{{ title }}
{% set url = "http://localhost:8080/catalog.html" %}

{% block content %}
    {% include 'partials/contact-nav.njk' %}
    <div class="catalog-page__layout">
        {% include 'partials/catalogfilter.njk' %}
        {% include 'partials/catalogpage.njk' %}
    </div>
{% endblock %}