* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


*:before,
*:after {
  box-sizing: border-box;
}


html {
  font-size: 16px;
}

body {
  font-family: $main-font;
}

.header {
  background: $block-color;
  padding: 1rem;
}

.logo {
  width: 188px;
  height: 42px;
}




// Nav block
.nav {
  &__list {
    list-style: none;
    font-family: $text-font;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
  }

  &__link {
    text-decoration: none;
    /* Links do not nasledovat*/
    color: $text-color;
    /* Links do not nasledovat*/
    text-align: center;
    padding: 0.5rem 1.25rem;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  &__link--active {
    border-bottom-style: solid;
    border-color: $blue-color;
    border-width: 2px;
  }
}

.button {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: $text-color;
  border: 2px solid #D0D7FB2B;
  font-weight: 600;
  font-family: $text-font;
  font-size: 1.125rem;
  text-decoration: none;
  line-height: 28px;
  padding: 0.625rem 1.5rem;


}

.button--glow {
  background-color: $blue-color;
  border: none;
}

.button--nav {
  width: 48px;
  height: 48px;
  padding: 1rem;
  font-size: 0px;
}



.button:hover {
  background-color: #BFC5EE1F;
}

.button:focus {
  background-color: #BFC5EE1F;
  outline-style: solid;
  outline-color: #3892F3;
  outline-width: 4px;
}

.button--glow:hover {
  background-color: #3892F3;
}

.button--glow:focus {
  background-color: $blue-color;
  outline-style: solid;
  outline-color: #3892F3;
  outline-width: 4px;
}


a:not(.button):hover {
  color: #3892F3;
}

a:not(.button):focus {
  outline-style: solid;
  outline-color: #3892F3;
  outline-width: 4px;
}

.button:focus:not(:focus-visible) {
  outline: none;
  background-color: inherit;
}

.button--glow:focus:not(:focus-visible) {
  outline: none;
  background-color: inherit;
}

a:not(.button):focus:not(:focus-visible) {
  outline: none;
  background-color: inherit;
}

// banner block
.banner {
  background-image: url("../img/cube.png"), radial-gradient(circle, $blue-color, $block-color);
  background-repeat: no-repeat, no-repeat;
  background-position: right, top left;
  padding: 2rem 1rem;

  &__title {
    font-size: 1.75rem;
    color: $text-color;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 0.5rem;
  }

  &__title--highlight {
    color: $blue-color;
  }

  &__subtitle {
    color: $text-color;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: $text-font;
    line-height: 28px;
    margin-bottom: 2rem;
  }

  &__stat {
    color: $text-color;
    margin-bottom: 2rem;
  }



  &__stat-txt {
    font-size: 1rem;
    font-family: $text-font;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0.25rem;
  }

  &__stat-num {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.5px;
  }
}



.button:first-child {
  margin-bottom: 1rem;
}




// catalog block
.catalog {
  background-color: $block-color;
  padding: 2rem 1rem;


  &__box {
    padding: 0.125rem 0;
    display: flex;
    margin-bottom: 2rem;
  }


  &__title {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
  }
}

// Catalog card block
.catalog-card {
  background-color: $card-color;
  padding: 1rem;
  margin-bottom: 1rem;


  &__img {
    margin-bottom: 1rem;
  }

  &__txt {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 36px;
    color: $text-color;
    margin-bottom: 0.5rem;
    margin-right: 3.5rem;
  }

  &__title {
    font-family: $text-font;
    font-size: 1.25rem;
    color: $text-color;
    font-weight: 500;
    line-height: 28px;
    margin-right: 3.5rem;
  }

  &__tag {
    text-align: right;
    background-color: $text-color;
    color: $blue-color;
    font-family: $text-font;
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    line-height: 20px;
    padding: 0.5rem 0.625rem;
  }

  &__tag--highlight {
    background-color: #EA3829;
    color: $text-color;
  }
}






// Blog block
.blog {
  background-color: $block-color;
  padding: 2rem 1rem;


  &__title {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
    color: $text-color;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
  }

  &__link {
    font-family: $text-font;
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding: 0.625rem 1.5rem;
  }
}

// Blog card block
.blog-card {
  background-color: $card-color;
  color: $text-color;
  padding: 1rem;
  margin-bottom: 2.5rem;
  margin-right: 1rem;


  &__img {
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 32px;
    margin-top: 1rem;
  }

  &__subtext {
    font-family: $text-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 1rem;
  }

  &__name,
  &__date {
    font-family: $text-font;
    font-size: 0.875rem;
    line-height: 20px;
    font-weight: 600;
  }

  &__tag {
    text-align: right;
    background-color: $text-color;
    color: $blue-color;
    font-weight: 600;
    font-family: $text-font;
    font-size: 0.875rem;
    line-height: 20px;
    text-decoration: none;
    padding: 0.5rem, 0.625rem;
  }

  &__link {
    font-family: $text-font;
    font-size: 1rem;
    font-weight: 600;
    line-height: 24px;
    margin-right: 6.25rem;
    padding: 0.5rem 1.25rem;
  }
}








// info block
.info {
  background-color: $block-color;
  padding: 2rem 1rem;


  &__title {
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: $text-color;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
  }

  &__link {
    font-family: $text-font;
    font-size: 1.125rem;
    line-height: 28px;
    font-weight: 600;
  }

  &__desc {
    color: $text-color;
    font-family: $text-font;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  &__list {
    list-style: none;
    color: $text-color;
    margin-bottom: 2.5rem;
  }

  &__list-item {
    display: block;
    padding: 1.5rem;
    margin-bottom: 1rem;
    background-color: $card-color;
  }

  &__item-title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
    margin-top: 1.895rem;
    margin-bottom: 1.5rem;
  }

  &__item-desc {
    color: $text-color;
    font-family: $text-font;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
  }
}








// Team block

.team {
  background-color: $block-color;
  padding: 2rem 1rem;


  &__title {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
    color: $text-color;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
  }
}

// Team card block
.team-card {
  background-color: $card-color;
  color: $text-color;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;


  &__img {
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
    text-align: center;
    margin-top: 1rem;
  }



  &__subtext {
    font-family: $text-font;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
    margin-right: 0.5rem;
  }
}






// FAQS block

.faqs {
  background-color: $block-color;
  color: $text-color;
  padding: 2rem 1rem;




  &__details {
    background-color: $card-color;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 2.5rem;
    font-size: 1.75rem;
    color: $text-color;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
  }

  &__details:last-child {
    margin-bottom: 3rem;
  }

  &__details-question {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
  }

  &__details-answer {
    font-family: $text-font;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 24px;
  }
}



// Footer block
.footer {
  background-color: #1A1925;
  padding: 4rem 1rem 2rem 1rem;

  &__txt {
    font-family: $text-font;
    color: $text-color;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
    margin-top: 2rem;
    margin-right: 5.375rem;
    margin-bottom: 1.25rem;
  }

  &__iconlist-item {
    margin-right: 3rem;
  }
}

// Footer nav block
.footer-nav {
  &__txt {
    margin-right: 2rem;
    margin-bottom: 2.25rem;
    font-family: $text-font;
    color: $text-color;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 20px;
  }

  &__list-title {
    color: $text-color;
    font-family: $text-font;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
    padding: 0 0 0 0.5rem;
    margin-bottom: 0.5rem;
  }

  &__list-item {
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  }

  &__list {
    list-style: none;
    margin-right: 1.5rem;
    margin-bottom: 4rem;
  }


  &__link {
    font-family: $text-font;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    color: $text-color;
  }
}

// Footer logo block
.logo {
  &__txt {
    font-size: 2rem;
    font-weight: normal;
    color: $blue-color;
    text-align: left;
    margin-bottom: 0.75rem;
    margin-right: 8.25rem;
  }

  &__txt--header {
    font-size: 2rem;
    font-weight: normal;
    color: $text-color;
  }
}
















/*Blog Page */


// Block page block
.blogpage {
  background-color: #1A1925;
  padding: 1.5rem 0 0 0;


  &__title {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 36px;
    text-align: center;
    color: #F8F7FF;
    margin-bottom: 1rem;
  }



  &__link {
    font-family: $text-font;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    color: #F8F7FF;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    margin-bottom: 5.6875rem;
  }

  &__link--target {
    color: #E7EEF7A8;
    text-decoration: none;
  }
}

// Story block
.story {
  background-color: $block-color;
  padding: 0 1rem 4rem 1rem;

  &__title {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #F8F7FF;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__name,
  &__date {
    font-family: $text-font;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    color: #EFF5FAD1;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &__desc {
    font-family: $text-font;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: #F8F7FF;
    margin-bottom: 2rem;
  }

  &__desc--mark {
    font-weight: 600;
    background-color: $blue-color;
  }

  &__desc--accent {
    color: #78BBFA;
  }


  &__set {
    font-family: $text-font;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 28px;
    color: #F8F7FF;
    margin-bottom: 2rem;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 36px;
    color: #F8F7FF;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__tag-title {
    font-family: $text-font;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: #F8F7FF;
    margin-right: 0.75rem;
  }


  &__taglist-item {
    font-family: $text-font;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    color: #F8F7FF;
    margin-right: 0.75rem;
    padding: 0.375rem 0.75rem;
  }

}

// Story fig block
.story-fig {
  &__img:first-child {
    margin-top: 2.5rem;
  }

  &__cap {
    font-family: $text-font;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #F8F7FF;
  }
}



// Quote block
.quote {
  background-color: #002754;
  color: #F8F7FF;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: -0.5rem;

  &__rating {
    font-family: $text-font;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    color: #EFF5FAD1;
    margin-left: 0.5rem;
  }

  &__title {
    font-family: $text-font;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    margin-left: 0.5rem;
  }
}

// Quote box block
.quote-box {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 36px;
  margin-bottom: 0.5rem;
}





// Story sidebar block
.story-sidebar {
  background-color: $card-color;
  color: #F8F7FF;
  padding: 1rem;

  &__title {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
    padding: 0 0 1rem 0;
    margin-bottom: 1rem;
  }

  &__list {
    list-style: none;
  }

  &__link {
    font-family: $text-font;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-decoration: none;
    color: #F5F8FB;

  }


  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }


  &__taglist {
    list-style: none;
  }



  &__taglist-item {
    font-family: $text-font;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    margin-right: 0.5rem;
  }
}