{% extends "layouts/base.njk" %}

{% set title = "Blog Page"%}
{{ title }}
{% set url = "http://localhost:8080/blog.html" %}

{% block content %}
    {% include 'partials/blogpage.njk' %}
    {% include 'partials/story.njk' %}
{% endblock %}